 # Ignore system files
.DS_Store
Thumbs.db
desktop.ini

# Ignore Jupyter backup files
.ipynb_checkpoints/

# Ignore large binaries
*.exe
*.msi
*.bak
*.mp4
*.m4a
*.zip
*.7z
*.iso
*.pdf

# Ignore Office files
*.docx
*.xlsx
*.pptx

# Ignore Python cache
__pycache__/
*.pyc

# Ignore datasets not needed for deployment
*.csv

[.ShellClassInfo]
LocalizedResourceName=@%SystemRoot%\system32\shell32.dll,-21798
IconResource=%SystemRoot%\system32\imageres.dll,-184
